<html>
    <head>
        <title>Phonebook</title>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'phonebook/style.css' %}" type="text/css">
    </head>
    <body>
        {% for person in persons %}
        First name: {{ person.first_name }}<br>
        Last name: {{ person.last_name }}<br>
        {% endfor %}

        {% for contact in contacts %}
        Phone number: {{ contact.mobile_number }}<br>
        Email: <a href="mailto:">{{ contact.email }}</a>
        {% endfor %}
    </body>
</html>